<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="POST">

  <p><label for="team_name">Team Name:</label><input type="text" name="team[name]" id="team_name" /></p>

  <p><label for="team_name">Team Motto:</label><input type="text" name="team[motto]" id="team_motto" /></p>

  <h2>Hero 1</h2>
  <p><label for="hero_name1">Hero Name:</label><input type="text" name="team[members][][name]" /></p>
  <p><label for="hero_power1">Hero Power:</label><input type="text" name="team[members][][power]"/></p>
  <p><label for="hero_biography1">Hero Biography:</label><input type="text" name="team[members][][bio]"/></p>

  <h2>Hero 2</h2>
  <p><label for="hero_name2">Hero Name:</label><input type="text" name="team[members][][name]"/></p>
  <p><label for="hero_power2">Hero Power:</label><input type="text" name="team[members][][power]"/></p>
  <p><label for="hero_biography2">Hero Biography:</label><input type="text" name="team[members][][bio]"/></p>
  
  <h2>Hero 3</h2>
  <p><label for="hero_name3">Hero Name:</label><input type="text" name="team[members][][name]"></p>
  <p><label for="hero_power3">Hero Power:</label><input type="text" name="team[members][][power]"/></p>
  <p><label for="hero_biography3">Hero Biography:</label><input type="text" name="team[members][][bio]"/></p>

  <input type="submit" value="Submit"/>
</form>